.game-rules-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(241, 236, 236, 0.3);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  padding: 20px;
  width: 300px;
  color: #ffffff;
}

.game-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #e74c3c;
}

.rules-content {
  text-align: left;
  margin-bottom: 20px;
}

.game-description {
  font-size: 16px;
  margin-bottom: 10px;
  color: #ffffff;
}

.rules-text {
  color: #ffffff;
}
.rules-list {
  text-align: left;
  list-style-type: decimal;
}

.continue-button {
  background-color: #e74c3c;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.continue-button:hover {
  background-color: #c0392b;
}
