.scoreboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.table-container {
  display: flex;
}

table {
  background-color: rgba(241, 236, 236, 0.3);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  width: 100%;
  border-collapse: collapse;
}

td {
  color: rgb(3, 15, 31);
  font-weight: 600;
}

th,
td {
  padding: 4px;
  text-align: center;
  border: 1px solid #b79696;
}

thead {
  background-color: #f5f5f5;
}

tbody tr:hover {
  background-color: #ddd;
}

.scoreboard {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.level {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #f5f5f5;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 5px 0;
}
