* {
  box-sizing: border-box;
  margin: 0;
}
.App {
  background-image: url("./Assets/squid-game-red-light-green-light-background.webp");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
